#Project
target
test-output

#Python
__pycache__

#Netbeans
nb-configuration.xml
nbactions.xml
*.NavData

#Idea
.idea
*.iml
*.ipr
*.iws
out

#Eclipse
.settings
.project
.classpath
*.attach*
bin/

#Tools
rebel.xml
.editorconfig

#System & misc
*.bak
*.log
*.ldb
*~
*.swp
.directory

#Igno
